@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: "Poppins";
  color: #457b9d;
  position: relative;
  background-color: #A8DADC;
  overflow-x: hidden;
  margin: 0 auto;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(143, 149, 151, 0.3);
  background-color: white;
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #457b9d;
}

ul, ol {
  list-style: none;
}

h2 {
  font-size: 42px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
}

a {
  text-decoration: none;
}

.active {
  margin-right: 0 !important;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  body {
    background-color: #A8DADC;
  }
  .title {
    font-size: 30px;
  }
  .title::after {
    width: 120px;
    left: 38%;
  }
}
@media only screen and (max-width: 430px) {
  .title {
    font-size: 25px;
  }
  .title::after {
    width: 100px;
    left: 35%;
  }
}
/* poppins-300 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../../fonts/poppins-v20-latin-300.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anek-telugu-300 - latin */
@font-face {
  font-family: "Anek Telugu";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../../fonts/anek-telugu-v4-latin-300.woff2") format("woff2"), url("../../fonts/anek-telugu-v4-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* anek-telugu-regular - latin */
@font-face {
  font-family: "Anek Telugu";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/anek-telugu-v4-latin-regular.woff2") format("woff2"), url("../../fonts/anek-telugu-v4-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* baloo-paaji-2-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Baloo Paaji 2";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/baloo-paaji-2-v27-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* baloo-paaji-2-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Baloo Paaji 2";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/baloo-paaji-2-v27-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* baloo-paaji-2-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Baloo Paaji 2";
  font-style: normal;
  font-weight: 600;
  src: url("../../fonts/baloo-paaji-2-v27-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* baloo-paaji-2-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Baloo Paaji 2";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/baloo-paaji-2-v27-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* baloo-paaji-2-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Baloo Paaji 2";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/baloo-paaji-2-v27-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
.nav {
  position: fixed;
  max-width: 456px;
  width: 90%;
  left: calc(50% - 228px);
  bottom: 10px;
  z-index: 99;
}

.nav__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  background-color: #DEF2E9;
  border-radius: 30px;
  padding: 10px 0px;
  margin: 0;
  max-width: 100%;
}

.nav__item {
  margin: 0;
  padding: 0;
}

.nav__link {
  margin: 0;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 30px;
  color: #457B9D;
  font-size: 18px;
  font-weight: 400;
}

.nav__link:active {
  background-color: #457B9D;
  color: #DEF2E9;
}

.nav-active {
  background-color: #457B9D;
  color: #DEF2E9;
}

@media only screen and (max-width: 510px) {
  .nav {
    left: 5%;
  }
  .nav__link {
    font-size: 14px;
    padding: 8px 16px;
  }
  .nav__list {
    padding: 7px 0px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    transform: translateY(50px);
    opacity: 1;
  }
}
@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0;
  }
  99.99% {
    margin-top: 0;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #ffb510;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #ffb510;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 9px;
    height: 9px;
    background: #ffb510;
    border: 0px solid #222;
    bottom: 13px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
    transform: translateY(50px);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 0%, 0 100%, 0 100%);
  }
}
.intro {
  background: url("../../img/bg.png") no-repeat bottom center;
  background-size: 100% 320px;
}

.intro__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 300px;
}

.intro__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.intro__bg-img {
  margin-right: 100px;
}

.intro__text-wrapper {
  width: 90%;
  margin: 0 auto;
}

.intro__text {
  margin-top: 0;
  font-size: 51px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0;
  text-align: left;
  color: #1d3557;
}

.intro__text-name {
  margin: 0;
  font-family: Anek Telugu;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.3em;
  text-align: left;
}

.intro__button {
  padding: 7px 17px;
  font-size: 17px;
  border-radius: 18px;
  background-color: rgb(29, 53, 87);
  display: inline-block;
  color: #A8DADC;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}
.intro__button:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}

.intro__title-box {
  width: 430px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.intro__title-box .intro__name-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}
.intro__title-box .intro__name-wrapper .intro__block {
  width: 0%;
  height: inherit;
  background: #ffb510;
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.intro__title-box .intro__name-wrapper .intro__name {
  font-size: 32px;
  font-weight: 600;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
  border: none;
}
.intro__title-box .intro__name-wrapper .intro__name span {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #ffb510;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.intro__title-box .intro__role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}
.intro__title-box .intro__role .intro__block {
  width: 0%;
  height: inherit;
  background: #e91e63;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}
.intro__title-box .intro__role .intro__jobname {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: "Lato";
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.intro__sub-container {
  width: 90%;
  margin: 0 auto;
  height: 600px;
  position: relative;
  font-family: "Baloo Paaji 2", cursive;
}

.intro__sub-title {
  font-size: 105px;
  text-transform: uppercase;
  line-height: 100px;
}
.intro__sub-title span {
  width: 100%;
  float: left;
  color: #457b9d;
  transform: translateY(-50px);
  opacity: 0;
  animation-name: titleAnimation;
  animation-timing-function: ease;
  animation-duration: 3s;
  font-weight: 800;
}
.intro__sub-title .intro__sub-span {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.intro__sub-title span {
  animation-delay: 0.6s;
  --webkit-animation-fill-mode: forwards;
}
.intro__sub-title span:first-child {
  animation-delay: 0.7s;
}
.intro__sub-title span:last-child {
  color: #ffb510;
  animation-delay: 0.5s;
}

.intro__sub-title {
  top: 0;
  position: absolute;
}
.intro__sub-title .intro__sub-span {
  animation-delay: 4.1s;
  --webkit-animation-fill-mode: forwards;
}
.intro__sub-title .intro__sub-span:first-child {
  animation-delay: 4.2s;
}
.intro__sub-title .intro__sub-span:last-child {
  color: #ffb510;
  animation-delay: 4s;
}

@media only screen and (max-width: 865px) {
  .intro__text-wrapper {
    width: 100%;
    margin: 0 auto;
  }
  .intro__sub-container {
    width: 95%;
    height: 350px;
  }
  .intro__sub-title {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 750px) {
  .intro__sub-title {
    font-size: 85px;
    line-height: 85px;
  }
  .intro__button {
    position: absolute;
    top: 420px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 4s;
  }
  .intro__head {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 580px) {
  .intro__sub-title {
    font-size: 70px;
    line-height: 70px;
  }
}
@media only screen and (max-width: 480px) {
  .intro__container {
    padding-top: 10px;
  }
  .intro__sub-title {
    font-size: 60px;
  }
  .intro__name {
    font-size: 25px !important;
  }
  .intro__name span {
    bottom: 8px !important;
  }
  .intro__title-box {
    width: 330px !important;
  }
  .intro__jobname {
    font-size: 12px !important;
    line-height: 0 !important;
  }
}
@media only screen and (max-width: 350px) {
  .intro__text-name {
    font-size: 17px;
  }
  .intro__bg-img {
    width: 85%;
  }
  .intro__text {
    font-size: 28px;
  }
}
.html {
  position: relative;
}
.html::before {
  background: url(../../img/htmls.svg) no-repeat center center;
}

.css {
  position: relative;
}
.css::before {
  background: url(../../img/css.svg) no-repeat center center;
}

.sass {
  position: relative;
}
.sass::before {
  background: url(../../img/sass.svg) no-repeat center center;
}

.bootstrap {
  position: relative;
}
.bootstrap::before {
  background: url(../../img/bootstrapp.svg) no-repeat center center;
}

.javascript {
  position: relative;
}
.javascript::before {
  background: url(../../img/js.svg) no-repeat center center;
}

.react {
  position: relative;
}
.react::before {
  background: url(../../img/reactbl.svg) no-repeat center center;
}

.nodejs {
  position: relative;
}
.nodejs::before {
  background: url(../../img/nodejs.svg) no-repeat center center;
}

.mongodb {
  position: relative;
}
.mongodb::before {
  background: url(../../img/mongo.svg) no-repeat center center;
}

.mysql {
  position: relative;
}
.mysql::before {
  background: url(../../img/mysql.svg) no-repeat center center;
}

.php {
  position: relative;
}
.php::before {
  background: url(../../img/php.svg) no-repeat center center;
}

.java {
  position: relative;
}
.java::before {
  background: url(../../img/java.svg) no-repeat center center;
}

.go {
  position: relative;
}
.go::before {
  width: 50px;
  left: 40px;
  background: url(../../img/go.svg) no-repeat center center;
}

.git {
  position: relative;
}
.git::before {
  background: url(../../img/git.svg) no-repeat center center;
}

.github {
  position: relative;
}
.github::before {
  background: url(../../img/github.svg) no-repeat center center;
}

.gitlab {
  position: relative;
}
.gitlab::before {
  background: url(../../img/gitlabb.svg) no-repeat center center;
}

.material {
  position: relative;
}
.material::before {
  background: url(../../img/material.svg) no-repeat center center;
}

.jquery {
  position: relative;
}
.jquery::before {
  background: url(../../img/jquery.svg) no-repeat center center;
}

.ant-design {
  position: relative;
}
.ant-design::before {
  background: url(../../img/ant-design.svg) no-repeat center center;
}

.skills {
  padding: 120px 0;
  background: linear-gradient(to bottom, #F2FCEF 10%, #A8DADC 100%);
}

.skills__container {
  width: 99%;
  padding: 0;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  position: relative;
}
.title::after {
  width: 160px;
  height: 35px;
  content: "";
  background: url(../../img/redline.svg) no-repeat center center;
  bottom: -20px;
  position: absolute;
  left: calc(50% - 80px);
}

.skills__list {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.skills__item {
  margin: 0 20px;
  margin-bottom: 20px;
}

.skills__item-title {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 25px;
}

.other-title {
  padding-right: 30px;
}

.skills__title {
  margin-bottom: 90px;
}

.skills__item-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
  color: rgb(69, 123, 157);
  margin-top: 15px;
}

@media only screen and (max-width: 820px) {
  .skills__list {
    width: 85%;
    padding-top: 60px;
  }
}
@media only screen and (max-width: 650px) {
  #mobile-list {
    display: block;
    padding-bottom: 70px;
  }
}
@media only screen and (max-width: 500px) {
  .skills__name {
    padding-left: 90px;
  }
  .skills__name::before {
    left: 40px;
  }
}
@media only screen and (max-width: 420px) {
  .skills__list {
    padding-bottom: 30px;
  }
}
.projects {
  padding: 100px 0;
  background-color: #F2FCEF;
  width: 100%;
}

.projects__container {
  margin: 0 auto;
  padding: 0;
}

.projects__title {
  margin-bottom: 90px;
}

.projects__list {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.projects__item {
  max-width: 70%;
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 20px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  mix-blend-mode: normal;
  width: 400px;
  margin-right: 15px;
  margin-bottom: 35px;
  cursor: grabbing;
  position: relative;
}
.projects__item:hover {
  background-color: rgba(255, 255, 0, 0.2);
}
.projects__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 7.5px;
  width: 100%;
  width: calc(100% - 15px);
  height: 0.5rem;
  background-color: yellow;
  display: block;
  border-bottom-left-radius: 3000px 1000px;
  border-bottom-right-radius: 3000px 1000px;
  transform-origin: center;
  transform: scaleX(-1);
}
.projects__item:first-child::after {
  background-color: #009959;
}
.projects__item:first-child:hover {
  background-color: rgba(0, 153, 89, 0.2);
}
.projects__item:first-child .projects__item-visitorbtn {
  border: 2px solid #009959;
  color: #009959;
}
.projects__item:first-child .projects__item-visitorbtn:hover {
  background-color: #009959;
  color: #fff;
}
.projects__item:first-child .projects__item-button {
  color: #009959;
}
.projects__item:nth-child(2)::after {
  background-color: #c53720;
}
.projects__item:nth-child(2):hover {
  background-color: rgba(197, 55, 32, 0.2);
}
.projects__item:nth-child(2) .projects__item-visitorbtn {
  border: 2px solid #c53720;
  color: #c53720;
}
.projects__item:nth-child(2) .projects__item-visitorbtn:hover {
  background-color: #c53720;
  color: #fff;
}
.projects__item:nth-child(2) .projects__item-button {
  color: #c53720;
}
.projects__item:nth-child(3)::after {
  background-color: #007acc;
}
.projects__item:nth-child(3):hover {
  background-color: rgba(0, 122, 204, 0.2);
}
.projects__item:nth-child(3) .projects__item-visitorbtn {
  border: 2px solid #007acc;
  color: #007acc;
}
.projects__item:nth-child(3) .projects__item-visitorbtn:hover {
  background-color: #007acc;
  color: #fff;
}
.projects__item:nth-child(3) .projects__item-button {
  color: #007acc;
}
.projects__item:nth-child(4)::after {
  background-color: #02897A;
}
.projects__item:nth-child(4):hover {
  background-color: rgba(2, 137, 122, 0.2);
}
.projects__item:nth-child(4) .projects__item-visitorbtn {
  border: 2px solid #02897A;
  color: #02897A;
}
.projects__item:nth-child(4) .projects__item-visitorbtn:hover {
  background-color: #02897A;
  color: #fff;
}
.projects__item:nth-child(4) .projects__item-button {
  color: #02897A;
}
.projects__item:nth-child(5)::after {
  background-color: #ad1fea;
}
.projects__item:nth-child(5):hover {
  background-color: rgba(173, 31, 234, 0.2);
}
.projects__item:nth-child(5) .projects__item-visitorbtn {
  border: 2px solid #ad1fea;
  color: #ad1fea;
}
.projects__item:nth-child(5) .projects__item-visitorbtn:hover {
  background-color: #ad1fea;
  color: #fff;
}
.projects__item:nth-child(5) .projects__item-button {
  color: #ad1fea;
}

.projects__item-img {
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 95%;
  max-height: 70%;
}

.projects__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 7.5px;
  width: 100%;
  width: calc(100% - 15px);
  height: 0.5rem;
  background-color: yellow;
  display: block;
  border-bottom-left-radius: 3000px 1000px;
  border-bottom-right-radius: 3000px 1000px;
  transform-origin: center;
  transform: scaleX(-1);
}

.projects__item-visitor {
  position: absolute;
  width: 370px;
  height: 200px;
  max-width: 95%;
  max-height: 70%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 20px;
  border-radius: 10px;
  left: 25px;
  opacity: 0;
  transition: 400ms;
}

.projects__item-button {
  color: yellow;
  margin-top: 20px;
  margin-left: 15px;
  padding: 5px 0;
  display: flex;
  max-width: 110px;
}

.projects__item-svg {
  fill: yellow;
  margin-left: 5px;
}

.projects__item-visitorbtn {
  position: absolute;
  display: block;
  width: 100px;
  top: 90px;
  left: calc(50% - 50px);
  padding: 5px;
  color: yellow;
  border: 2px solid yellow;
  border-radius: 15px;
  text-align: center;
  transition: 400ms;
}
.projects__item-visitorbtn:hover {
  color: #fff;
  background-color: yellow;
}

.projects__item-visitor:hover {
  opacity: 1;
}

.projects__item-title {
  margin-top: 10px;
  margin-left: 15px;
  color: #40444f;
}

.projects__item-description {
  font-size: 15px;
  color: #40444f;
  margin-top: 5px;
  margin-left: 15px;
}

@media only screen and (max-width: 890px) {
  .projects__item {
    margin-right: 0;
  }
}
@media only screen and (max-width: 600px) {
  .projects__item {
    max-width: 320px;
  }
  .projects__item-visitor {
    left: 8px;
    height: 175px;
  }
  .projects__item-img {
    height: 175px;
  }
}
.contact {
  padding: 150px 0;
  margin: 0 auto;
}

.contact__container {
  width: 94%;
  margin: 0 auto;
}

.contact__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 100px;
}

.contact__form {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.contact__iframe {
  width: 55%;
  height: auto;
}

.contact__input {
  font-family: Poppins;
  border: none;
  color: #457b9d;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 10px;
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 20px;
  box-sizing: border-box;
  outline: none;
  z-index: 2;
}

.contact__textarea {
  min-height: 70px;
}

.contact__label {
  margin-top: 15px;
  color: rgb(29, 53, 87);
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.2em;
  padding-left: 10px;
}
.contact__label:first-child {
  margin-top: 0;
}

body .contact__textbox {
  padding: 2px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

body .contact__border {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  background: rgb(69, 123, 157);
  z-index: -1;
  transition: height 0.3s, width 0.3s 0.1s;
  border-radius: 15px;
}

body input:focus ~ .contact__border {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.contact__button {
  padding: 0;
  padding: 8px 15px;
  width: 90px;
  padding-bottom: 4px;
  border: none;
  border-radius: 20px;
  color: white;
  background: rgb(230, 57, 70);
  cursor: pointer;
  font-family: Anek Telugu;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.contact__list {
  display: flex;
  flex-direction: column;
}

.contact__item {
  padding: 45px;
  background-color: white;
  margin-bottom: 25px;
  border-radius: 12px;
  position: relative;
}
.contact__item::after {
  width: 60px;
  height: 60px;
  position: absolute;
  content: "";
  top: -20px;
  left: -20px;
}

@media only screen and (max-width: 900px) {
  .contact__item {
    padding: 25px;
    padding-left: 30px;
    margin-bottom: 60px;
  }
  .contact__item::after {
    top: -30px;
    left: -30px;
  }
  .contact__iframe {
    width: 80%;
    height: 300px;
    margin: 0 auto;
  }
  .contact__wrapper {
    flex-direction: column;
  }
  .contact__form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 450px) {
  .contact__item {
    font-size: 15px;
  }
  .contact__form, .contact__iframe {
    width: 100%;
  }
}
.footer {
  border-top: 1px solid rgba(69, 123, 157, 0.5);
  padding: 30px 0;
  margin-bottom: 70px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  width: 330px;
  justify-content: space-between;
}

.footer__item {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform 0.5s ease-in-out;
  margin: 5px;
}
.footer__item:hover {
  transform: translateY(-5px);
}

.footer__item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #457b9d;
  line-height: 35px;
  border-radius: 100%;
}
.footer__item-link svg {
  stroke: #457b9d;
  fill: #457b9d;
}
.footer__item-link:hover {
  background-color: #457b9d;
}
.footer__item-link:hover svg {
  stroke: #fff;
  fill: #fff;
}

@media only screen and (max-width: 655px) {
  .footer__container {
    flex-direction: column;
  }
  .footer-text {
    text-align: right;
    padding-top: 10px;
  }
  .footer__list {
    margin: 0 auto;
    margin-bottom: 35px;
  }
}/*# sourceMappingURL=main.css.map */