@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

$primary-color: #1e90ff ;
$secondary-color: #ffb510;
$tertiary-color: #457b9d;

@keyframes fadeIn {
    from { opacity: 0;
        transform: translateY(-50px);
       
     }
    to {   transform: translateY(50px);
        opacity: 1;
    }
  }
@keyframes show {
    0% {
        margin-top: -270px;
    }
    5% {
        margin-top: -180px;
    }
    33% {
        margin-top: -180px;
    }
    38% {
        margin-top: -90px;
    }
    66% {
        margin-top: -90px;
    }
    71% {
        margin-top: 0;
    }
    99.99% {
        margin-top: 0;
    }
    100% {
        margin-top: -270px;
    }
}
@keyframes mainBlock {
    0% {
       width: 0%;
       left: 0;
    }
    50% {
       width: 100%;
       left: 0;
    }
    100% {
       width: 0;
       left: 100%;
    }
 }
@keyframes secBlock {
    0% {
       width: 0%;
       left: 0;
    }
    50% {
       width: 100%;
       left: 0;
    }
    100% {
       width: 0;
       left: 100%;
    }
 }
 
 @keyframes mainFadeIn {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
 }
 
 @keyframes popIn {
    0% {
       width: 0px;
       height: 0px;
       background: #ffb510;
       border: 0px solid #ddd;
       opacity: 0;
    }
    50% {
       width: 10px;
       height: 10px;
       background: #ffb510;
       opacity: 1;
       bottom: 45px;
    }
    65% {
       width: 7px;
       height: 7px;
       bottom: 0px;
       width: 15px;
    }
    80% {
       width: 10px;
       height: 10px;
       bottom: 20px;
    }
    100% {
       width: 9px;
       height: 9px;
       background: #ffb510;
       border: 0px solid #222;
       bottom: 13px;
    }
 }
 
 @keyframes secFadeIn {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 0.5;
    }
 }
 
  
 @keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }
  20% {
      transform: translateY(0);
      opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  80% {
       transform: translateY(0);
       opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }
  100% {
       transform: translateY(50px);
       opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
      clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    
  }
}
.intro {
    background: url("../../img/bg.png") no-repeat bottom center;
    background-size: 100% 320px;
}
.intro__container {
    display: flex;
    //max-width: 1320px;
    //width: calc(100% - 20px);
    justify-content: space-between;
    align-items: center;
    margin:  0 auto;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 300px;
   
    //overflow: hidden;
}
.intro__head{
 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.intro__bg-img {
    margin-right: 100px;
}

.intro__text-wrapper {
    width: 90%;
    margin: 0 auto;
}

.intro__text {
    margin-top: 0;
    font-size: 51px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0;
    text-align: left;
    color: #1d3557;
}
.intro__text-name {
    margin: 0;
    font-family: Anek Telugu;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.3em;
    text-align: left;
}
.intro__button {
    padding: 7px 17px;
    font-size: 17px;
    border-radius: 18px;
    //margin-top: 24px;
    background-color: rgba(29, 53, 87, 1);
    display: inline-block;
    color: #A8DADC;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    &:hover {
        transform: scale(.9);
        -webkit-transform: scale(.9);
    }
}

.intro__title-box {
    width: 430px;
    //height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;
    .intro__name-wrapper {
       width: 100%;
       position: relative;
       display: flex;
       align-items: center;
       height: 50px;

       .intro__block {
          width: 0%;
          height: inherit;
          background: #ffb510;
          position: absolute;
          animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          display: flex;
       }

       .intro__name {
       // color: #fff;
          font-size: 32px;
          font-weight: 600;
          -webkit-animation: mainFadeIn 2s forwards;
          -o-animation: mainFadeIn 2s forwards;
          animation: mainFadeIn 2s forwards;
          animation-delay: 1.6s;
          opacity: 0;
          display: flex;
          align-items: baseline;
          position: relative;
          border: none;

          span {
             width: 0px;
             height: 0px;
             -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
             border-radius: 50%;

             background: #ffb510;
             -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92)
                forwards;
             animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92)
                forwards;
             animation-delay: 2s;
             margin-left: 5px;
             margin-top: -10px;
             position: absolute;
             bottom: 13px;
             right: -12px;
          }
       }
    }

    .intro__role {
       width: 100%;
       position: relative;
       display: flex;
       align-items: center;
       height: 30px;
       margin-top: -10px;

       .intro__block {
          width: 0%;
          height: inherit;
          background: #e91e63;
          position: absolute;
          animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation-delay: 2s;
          display: flex;
       }

       .intro__jobname {
          animation: secFadeIn 2s forwards;
          animation-delay: 3.2s;
          opacity: 0;
          font-weight: 400;
          font-family: "Lato";
         
          font-size: 15px;
          text-transform: uppercase;
          letter-spacing: 5px;
       }
    }
 }


// #flip {
//     height: 50px;
//     overflow: hidden;
// }

// #flip > div > div {
//     color: #fff;
//     padding: 4px 12px;
//     padding-bottom: 0px;
//     height: 45px;
//     margin-bottom: 45px;
//     display: inline-block;
// }
// #flip div:first-child {
//     animation: show 5s linear infinite;
// }

// #flip div div {
//     background: #42c58a;
// }
// #flip div:first-child div {
//     background: #4ec7f3;
// }
// #flip div:last-child div {
//     background: #e73155;
// }

.intro__sub-container{
    width: 90%;
    margin:  0 auto;
    height: 600px;
    position: relative;
    font-family: 'Baloo Paaji 2', cursive;
   
  }
  
  .intro__sub-title{
    font-size: 105px;
    text-transform: uppercase;
    line-height: 100px;
    
    span{
      width: 100%;
      float: left;
      color: $tertiary-color;
    //   -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    //   clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
       transform: translateY(-50px);
      opacity: 0;
      animation-name: titleAnimation;
      animation-timing-function:ease;
      animation-duration: 3s;
      font-weight: 800;
    }
    .intro__sub-span{
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
    }
  }
  .intro__sub-title span{
    animation-delay: 0.6s;
    --webkit-animation-fill-mode: forwards;
  
    &:first-child{
      animation-delay: 0.7s;
  
    }
  
    &:last-child{
      color: $secondary-color;
      animation-delay: 0.5s;
    }
  }
  
  .intro__sub-title{ 
    top: 0;
    position: absolute;
    
    .intro__sub-span{
      animation-delay: 4.1s;
      --webkit-animation-fill-mode: forwards;
  
      &:first-child{
        animation-delay: 4.2s;
  
      }
  
      &:last-child{
        color: $secondary-color;
        animation-delay: 4s;
      }
    }
  }
  

@media only screen and (max-width:865px) {
   .intro__text-wrapper{
    width: 100%;
    margin: 0 auto;
   }
   .intro__sub-container{
    width: 95%;
    height: 350px;
   }
   .intro__sub-title{
    margin: 0 auto;
   }
}
@media only screen and (max-width:750px) {
    .intro__sub-title{
    font-size: 85px;
    line-height: 85px;
    }
    .intro__button{
        position: absolute;
        top: 420px;
        opacity: 0;
        animation: fadeIn 1s ease forwards;
        animation-delay: 4s;
    
    }
    .intro__head{
        justify-content: space-around;
    }
    // .intro__container {
    //     flex-direction: column;
    //     padding: 0;
    //     justify-content: flex-start;
    // }
    // .intro__text-wrapper {
    //     margin: 50px auto 0;
    // }
    // .intro__text {
    //     text-align: center;
    //     font-size: 45px;
    //     line-height: 55px;
    //     margin-top: 10px;
    //     padding: 0 10px;
    // }
    // .intro__bg-img {
    //     margin: 90px 0 0;
    //     width: 50%;
    //     height: 35%;
    //     opacity: 0;
    // }
    // .intro__button {
    //     position: absolute;
    //     left: calc(50% - 70px);
    //     margin: 20px auto 0;
    //     text-align: center;
    //     padding: 5px 15px;
    //     font-size: 16px;
    // }
    // .intro__text-name {
    //     text-align: center;
    //     font-size: 20px;
    // }
}
@media only screen and (max-width:580px) {
    .intro__sub-title{
        font-size: 70px;
        line-height: 70px;
    }
    
}
@media only screen and (max-width:480px) {
    .intro__container{
        padding-top: 10px;
    }
   .intro__sub-title{
    font-size: 60px;
    //line-height: 60px;
   }
   .intro__name{
        font-size: 25px !important;
        span{
            bottom: 8px !important;
        }
    }
    .intro__title-box{
        width: 330px !important;
    }
    .intro__jobname{
        font-size: 12px !important;
        line-height: 0 !important;
    }
}
@media only screen and (max-width:350px) {
    .intro__text-name {
        font-size: 17px;
    }
    .intro__bg-img {
        width: 85%;
    }
    .intro__text {
        font-size: 28px;
    }
}
@media only screen and (max-width:330px) {
    .intro__name-wrapper{
        margin-left: 5px;
    }
   .intro__name{
    font-size: 20px !important;
   }
   .intro__role{
    margin-left: 5px;
    .intro__jobname{
        margin-left: 5px;
    }
   }
}
