.intro__container {
    display: flex;
    background-color: #A8DADC;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 250px;
    background: url(../../img/bg.png) no-repeat bottom center;
    background-size: 100% 320px;
    overflow: hidden;
}

.intro__bg-img {
    margin-right: 100px;
}

.intro__text-wrapper {
    margin-left: 140px;
}

.intro__text {
    margin-top: 0px;
    font-size: 51px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(29, 53, 87, 1);
}
.intro__text-name {
    margin: 0;
    font-family: Anek Telugu;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.3em;
    text-align: left;
}
@media only screen and (max-width:1220px){
    .intro__bg-img{
        margin-right: 30px;
        width: 420px;
        height: 300px;
    }
    .intro__text{
        font-size: 45px;
    }
    .intro__text-wrapper{
        margin-left: 70px;
    }
}
@media only screen and (max-width:990px){
   .intro__bg-img{
    margin-right: 10px;
    width: 380px;
    height: 260px;
   }
   .intro__text{
    font-size: 40px;
   }
   .intro__text-name{
    font-size: 20px;
    line-height: 25px;
   }
   .intro__text-wrapper{
    margin-left: 30px;
   }
}
@media only screen and (max-width:815px){
   .intro__bg-img{
    width: 320px;
    height: 200px;
   }
   .intro__text{
    font-size: 33px;
    line-height: 40px;
   }
   .intro__text-name{
    font-size: 15px;
   }
}
@media only screen and (max-width:650px){
.intro__container{
    flex-direction: column;
    height: 100vh;
    padding: 0 ;
    justify-content:flex-start
}
.intro__text-wrapper{
    margin:  0 auto;
    margin-top: 50px;
}
.intro__text{
    text-align: center;
    font-size: 45px;
    line-height: 55px;
    margin-top: 10px;
    padding: 0 10px;
}
.intro__bg-img{
    margin: 0;
    margin-top: 50px;
    width: 70%;
    height: 35%;
}
.intro__text-name{
    text-align: center;
    font-size: 20px;
}
}
@media only screen and (max-width:450px){
    .intro__text{
        font-size: 36px;
        line-height: 45px;
    }
    .intro__bg-img{
        width: 75%;
    }
}
@media only screen and (max-width:400px){
    .intro__bg-img{
        height: 30%;
        margin-top: 30px;
        width: 78%;
    }
    .intro__text{
        font-size: 32px;
    }
}
@media only screen and (max-width:350px){
    .intro__text-name{
        font-size: 17px;
    }
    .intro__bg-img{
        width: 85%;
    }
    .intro__text{
        font-size: 28px;
    }
}