.nav{
    position: fixed;
    bottom: 5px;
    width: 456px;
    left: calc(50% - 228px);
    top: calc(100% - 10vh);
    z-index: 2;
}
.nav__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    background-color: #DEF2E9;
    border-radius: 30px;
    padding: 10px 0px;
    margin: 0;
}

.nav__item {
    margin: 0;
    padding: 0;
}

.nav__link {
    margin: 0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    color: #457B9D;
    font-size: 18px;
    font-weight: 400;
}
.nav__link:active{
    background-color: #457B9D;
    color: #DEF2E9;
}
.nav-active{
    background-color: #457B9D;
    color: #DEF2E9;
}
@media only screen and (max-width:650px){
    .nav{
        width: 90%;
        left: calc(50% - 45%);
    }
    
   
}
@media only screen and (max-width:520px){
    .nav__link{
        font-size: 14px;
        padding: 8px 16px;
    }
    .nav__list{
        padding: 7px 0px;
    }
    .nav{
        top: calc(100% - 7vh);
       
    }
}

